name: ci-user-history

on:
  push:
    branches: [develop-user-history]
  pull_request:

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USER_NAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Build the image and push to Docker Hub
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./user-history/Dockerfile
          push: true
          tags: vulcans/http-user-history:latest 

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
